

h1, h2, h3, h4{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    }
    
    p{
    font-family: 'PT Sans', sans-serif;
    
    }
    header a{
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: #707070;
    transition: all 0.5s ease;
    }
    
    
    
    .row{
    max-width: 60rem;
    margin: 0 auto;
    
    }
    .row:after{
        content:"";
        display: block;
        height: 0;
        clear:both;
    }
    
    
    img{
        max-width: 100%;
        height: auto;
    }
    
    #menu{
        background-color: white;
        font-weight: bold;
        color: #141414e1;
        position: fixed;
        width: 100%;
        z-index: 100;
    
        }
    
    header #logo{
    float: left;
    
    width:40px;
    height:19px;
    background: url("../images/logo.png") no-repeat;
    margin-top: 0.9rem;
    margin-left: 2.5rem;
    
    
    }
    
    
    
    header #toggle_menu{
    float:right;
    cursor: pointer;
    }
    header #cabecera{
        overflow: hidden;
    }
    
    header nav ul li a{
        display: block;
        margin: 0 auto;
        text-align: center;
        border-bottom: .062em solid #707070;
        padding: 1em;
    }
    .bosque{
    background-image: url(../images/bosque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: none;
    }
    .home_bosque{
    background-color: rgba(0,0,0,0.5);
    background-image: url(../images/bosque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding:30% 1rem 40% 1rem;
    text-align: center;
    color: white;
    }
    
    .home_bosque .sub{
        font-size: 1rem;
    }
    
    .home_bosque h1{
        font-size: 1.7rem;
        padding:  1.5rem 0rem;
        text-align: center;
    }
    
    
    
    .cuadro_boton a{
        color: white;
        font-size: 0.8rem;
        border: .062em solid #fff;
        display: inline-block;
        padding: 1rem 2.5rem;
        transition: all 0.5s ease;
    }
    
    .cuadro_boton a:hover{
        color: #707070;
        background: white;
        transition: all 0.5s ease;
    }
    
    
    
    .story{
        text-align: center;
        overflow: hidden;
    }
    
    h2{
        font-size: 1.5rem;
        padding: 3.5rem 2rem .5rem 2rem;
    }
    
    .story .texto{
        padding: 3rem  10%;
    }
    .story p{
        padding: 1rem;
    }
    
    
    .grid-container {
      display: grid;
      grid-template-columns: 380px 380px 380px;
      background-color: white;
      padding: 10px;
    }
    
    
    
    
    .team{
        text-align: center;
    
    }
    .personal{
        margin: 2rem auto;
    }
    .persona{
        margin: 1rem auto;
    
    }
    
    .persona img{
        border-radius: 50%;
        margin-bottom: 2rem;
    }
    .persona h4{
        margin: .1rem;
        font-size: 1.1rem;
    
    }
    
    .persona .sub{
        font-weight: bold;
        font-size: 0.8rem;
        margin: .5rem;
    }
    
    .persona p{
        margin-top: 1rem;
        color: #999999;
    }
    
    .persona .twit{
        margin-bottom: 1rem;
        color: black;
        font-weight: bold;
    
    }
    
    .cabeceras{
        background-color: black;
        padding: 0.5rem;
        font-size: 1.5rem;
        font-style: italic;
        color: white;
        text-align: center;
    }
    
    .servicio{
    
    padding: 1rem 1rem;
    margin: 0 auto;
    }
    
    .s_imagen{
    
        margin: 1rem auto;
        text-align: center;
        width: 100%;
        height: 50%;
        }
    
    
    
    .servicio h4{
    
        font-size: 1.5rem;
        text-align: center;
    }
    .s_texto{
        margin: 0 auto;
    
    
      width: 100%;
    
    }
    
    .s_texto p{
    display: none;
    padding-top: 1rem;
    text-align: center;
    }
    
    .b_fondo{
    background-color: #f2f2f2;
    
    }
    
    
    
    
    .formulario{
    margin: 1rem auto 3rem auto;
    
    
    }
    .formulario form{
        margin: 0 auto;
    
    
    }
    
    :placeholder-shown {
        display: block;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        color: #999999;
        font-size: .9rem;
    
    }
    
    ::-webkit-input-placeholder {
           display: block;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        color: #999999;
        font-size: .9rem;
    }
    :-moz-placeholder {
          display: block;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        color: #999999;
        font-size: .9rem;
    }
    ::-moz-placeholder {
          display: block;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        color: #999999;
        font-size: .9rem;
    }
    :-ms-input-placeholder {
          display: block;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        color: #999999;
        font-size: .9rem;
    }
    
    
    label {
        display: block;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        color: #999999;
        font-size: .9rem;
        margin-top: 2rem;
    
    }
    
    input{
        border-bottom: .1rem solid ·#cccccc;
        border-top: white;
        border-left: white;
        border-right: white;
        width: 100%;
        padding: 0.5rem 0;
        margin-top: 2rem;
    
    
    }
    
    #enviar{
        background:#eeeeee;
        margin-top: 1rem;
        padding: 0.5rem;
        font-weight: bold;
        font-family: 'PT Sans', sans-serif;
        color: #999999;
        border: none;
    }
    
    textarea{
        margin-top: 1rem;
        border: .1rem solid #cccccc;
        width: 100%;
         resize: none;
    }
    footer{
            background-color: black;
            color: #828282;
    }
    
    .aside{
        text-align: center;
        margin-bottom: 2rem;
        width: 100%;
    
    
    }
    .aside h5{
        font-weight: bold;
        margin-bottom:1rem;
    }
    .contactos{
        margin:1rem 0;
    
    }
    
    
    
    .aside p{
    
            color: #828282;
            line-height: 1.3rem;
    
    }
    
    .aside p a{
        text-decoration: none;
        color: #828282;
    }
    
    .social{
    margin: 0 5%;
    text-align: center;
    }
    
    .social ul li{
    display: inline;
    
    }
    
    .social ul li a{
        font-size: 1rem;
        text-decoration: none;
        text-align: center;
        width: 3rem;
        padding: 1rem 0;
        display: inline-block;
        background-color: #464646;
        border-radius: 50%;
        margin: 0.5rem;
        transition: all 0.3s ease;
        color: #232323;
    
    }
    
    
    .social ul li a:hover{
    
        background-color: white;
        transition: all 0.3s ease;
    
    }
    
    
    
    
    
    .arrow {
        text-align: center;
        font-size: 2.2rem;
    
    }
    .arrow a{
        text-decoration: none;
        color: #828282;
    }
    
    .copy{
    
        text-align: center;
        font-weight: bold;
        padding: 1rem;
    }
    .lineas{
    
    width: 3.5rem;
    display: inline-block;
    height: 1px;
    background: black;
    border: 0px;
    }
    
    [class*="col-"]
    {
        float: left;
        padding: 1.5em;
    
    }
    
    
    
    .bosque{
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: none;
    }
    
    .s_texto h4{
        margin: 2rem 0rem;
        font-size: 1.5rem;
        text-align:left;
    }
    
    .s_texto p{
    display: inline;
    padding-top: 0rem;
    text-align: left;
    }
    
    header nav ul li a{
        border: none;
    
    }
    header nav ul li{
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        border: none;
        }
    
    header nav ul{
        float: left;
        margin-right: 3%;
    }
    
    header #logo{
        margin-left: 6rem;
    }
    #cabecera{
    
    float: left;
    }
    header #toggle_menu{
            display: none;
        }
    
    #menu{
        overflow: hidden;
    }
    
    .aside{
        text-align: left;
        margin-top: 3rem;
    
    
    }
    .formulario{
    margin: 3rem auto;
    padding-right:3rem;
    
    }
    
    .aside .mailto{
        font-size: 0.9rem;
    
         }
    .social{
    margin: 0 25%;
    }
    
    }
    
    
    
    .s_imagen{
        max-width: 26rem;
        max-height: 26 rem;
        overflow: hidden;
        padding: 0rem;
        margin: 2.5rem 1.5rem;
    
    }
    
    .s_imagen img{
    width: 100%;
    height: 100%;
    float: left;
    }
    
    
    .s_imagen img:hover{
                animation-name: keyburns;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in;
                animation-fill-mode: both;
                animation-direction: alternate;
            }
    
    @keyframes keyburns{
                 0%{
                     transform: scale(1) translateX(0rem);
                 }
                 100%{
                     transform: scale(1.1) translateX(0.8rem);
                 }
    
            }
    
    
    .aside .mailto{
        font-size: 1rem;
    
         }
    
    
    }
    
    
    .img1 {
        float: right;
    }
    
    .clearfix {
        overflow: auto;
    }
    
    .img2 {
        float: right;
    }
    
    .social{
        margin: 0 5%;
        text-align: center;
        }
        
        .social ul li{
        display: inline;
        
        }
        
        .social ul li a{
            font-size: 1rem;
            text-decoration: none;
            text-align: center;
            width: 3rem;
            padding: 1rem 0;
            display: inline-block;
            background-color: grey;
            border-radius: 50%;
            margin: 0.5rem;
            transition: all 0.3s ease;
            color: #232323;
        
        }
        
        
        .social ul li a:hover{
        
            background-color: white;
            transition: all 0.3s ease;
        
        }